.about__section {
    margin-bottom: 58px;
}

.about {
    display: flex;
}

.about::before {
    content: "";
    width: 490px;
    height: 505px;
    border-radius: 5px;
    background: url(../img/gates.png) center center / cover no-repeat;
    display: block;
}

.about__desc {
    background: url(../img/mountains.png);
    border-radius: 5px;
    max-width: 785px;
    height: 455px;
    padding: 70px 81px;
    margin-left: -143px;
    margin-top: 95px;
}

.about__title {
    font-weight: bold;
    font-size: 36px;
    color: black;
    margin-bottom: 37px;
}

.about__desc-text {
    margin-bottom: 43px;
    line-height: 27px;
    color: black;
}

.about__desc-text p {
    margin-bottom: 38px;
    width: 500px;
}

.about__desc-text p:last-child {
    margin-bottom: 0;
}